<ion-header color="blue">
  <ion-toolbar color="blue">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-center">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" [(ngModel)]="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Middle Name</ion-label>
      <ion-input type="text" [(ngModel)]="middleName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input
        type="number"
        min="18"
        max="120"
        [(ngModel)]="age"
      ></ion-input> </ion-item
    ><ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Birthdate</ion-label>
      <ion-input type="date" [(ngModel)]="birthdate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select Gender" [(ngModel)]="gender">
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Male">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Voter's ID</ion-label>
      <ion-input
        type="string"
        minlength="24"
        maxlength="24"
        [(ngModel)]="voterId"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Create Login Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
    </ion-item>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <ion-button
            (click)="tryRegister()"
            fill="solid"
            shape="round"
            expand="full"
          >
            Register
          </ion-button>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-text>
        <span>
          Already have an account?
          <a routerLink="/login" color="tertiary">Login here.</a>
        </span>
      </ion-text>
    </ion-item>
  </div>
</ion-content>
