<ion-header>
  <ion-toolbar color="blue">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-center">
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" [(ngModel)]="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Middle Name</ion-label>
      <ion-input type="text" [(ngModel)]="middleName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="number" [(ngModel)]="age"></ion-input> </ion-item
    ><ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Birthdate</ion-label>
      <ion-input type="date" [(ngModel)]="birthdate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select Gender" [(ngModel)]="gender">
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Male">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Voter's ID</ion-label>
      <ion-input type="number" [(ngModel)]="voterId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Create Login Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
    </ion-item>
    <ion-button (click)="tryRegister()" fill="solid " shape="round">
      Register
    </ion-button>
  </div>
</ion-content>
