<ion-menu side="start" menuId="first" contentId="main">
  <ion-header color="blue">
    <ion-toolbar color="blue">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="logoutAdmin()">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>&nbsp; Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content id="main">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="candidates">
        <ion-icon name="person"></ion-icon>
        <ion-label>Candidates</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="registrations">
        <ion-icon name="hourglass"></ion-icon>
        <ion-label>Registrations</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="results">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Results</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
