<ion-header color="blue">
  <ion-toolbar color="blue">
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Open/Close Voting</ion-label>

      <ion-select [(ngModel)]="voting" placeholder="Select Setting">
        <ion-select-option value="Open">Open</ion-select-option>
        <ion-select-option value="Close">Close</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-button
        (click)="applySetting()"
        expand="block"
        fill="clear"
        shape="round"
        slot="end"
      >
        Apply
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
