<ion-menu side="start" menuId="first" contentId="main">
  <ion-header color="blue">
    <ion-toolbar color="blue">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="gotoProfile()">
        <ion-icon name="person"></ion-icon>
        <ion-label>&nbsp; Profile</ion-label>
      </ion-item>
      <ion-item button (click)="logoutVoter()">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>&nbsp; Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="vote">
        <ion-icon name="hourglass"></ion-icon>
        <ion-label>Vote</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="candidates">
        <ion-icon name="person"></ion-icon>
        <ion-label>Candidates</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="results">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Results</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
