#h5{
  padding-left: 50px;
}

ion-card, .card-ios, .card-md {
  border: 0 !important;
  box-shadow: none !important;
  border: none !important;
  border-style: none !important;
  position: relative;
  text-align: center;
  // border-top: 3px solid colorofyourchosing
}
.card{
  border: 0 !important;
  box-shadow: none !important;
  border: none !important;
  border-style: none !important;
}
